:root {
    --transition_fast: .15s;
    --transition_middle: .3s;
    --transition_long: .45s;
    --animation_default: cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* TYPOGRAPHY */
* {
    user-select: none;
    box-sizing: border-box;
    /* cursor: none; */
}

html,
body {
    /* оптимальный для чтения размер стандартных шрифтов */
    font-size: 18px;
    /* font-family: monospace;
    font-family: 'Fira Code'; */
    font-family: Consolas;
}

h1,
h2 {
    /* неагрессивное выделение заголовков */
    font-weight: 600;
}

h1,
h2,
p {
    text-align: left;
}

a {
    line-height: 1.5;
}

h1,
h2,
p {
    /* Высота линии - ~150% от размера текущего шрифта */
    line-height: 1.5;
    /* маржины = размер текущего шрифта */
    display: inline;
}

h1 {
    display: inline-block;
    text-align: center;
    /* При заголовках двух уровней заголовок h1 равен размеру шрифта х 2 */
    font-size: 3.5rem;
    text-align: center;
}

h2 {
    display: block;
    /* заголовок h2 - соответственно, ~150%.
	 При большем количестве заголовков их размеры вычисляются прибавлением ~50%
	Т.е. при трех будет ~150%, ~200% и ~250%. */
    font-size: 1.5rem;
}

p {
    /* обычный текст выравнивается исключительно по левому краю */
    text-align: left;
    /* отступ абзаца. Обычно равен ~ одному символу. */
    text-indent: 1em;
    font-size: 1rem;
    /* перенос слов по словарю. На данный момент поддержка браузерами оставляет желать лучшего. */
    hyphens: auto;
    /* max-width: 60em; */
}

mark {
    background-color: rgb(var(--color_main));
    color: rgb(var(--color_text));
}

#page {
    /* padding: 2em 2em 0; */
    --color_main: 253, 234, 186;
    --color_text: 24, 69, 79;

    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(var(--color_main));
    /* Текстовые блоки не более 45-65 символов в ширину(~600px). Будет одинаково хорошо читаться на экранах разных размеров */
    /* max-width: 45em; */
    padding: 0 2em;
    margin: 0 auto;
    transition: background var(--transition_long) var(--animation_default), color var(--transition_long) var(--animation_default);
}

#content h1,
#content h2 {
    text-transform: uppercase;
}

h1,
a,
p,
button {
    color: rgb(var(--color_text));
}

a {
    text-decoration: none;
    font-weight: 700;
}

a:focus {
    outline: none;
}


button {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 5px solid var(--color_text);
    box-shadow: 0px 0px 0px 0px var(--color_text);
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 800;
    transition: box-shadow var(--transition_fast) var(--animation_default);
}

button:focus {
    outline: none;
    box-shadow: 5px 5px 0px 0px var(--color_text);
}

button:focus svg {
    outline: none;
    border: none;
    box-shadow: none;
}

svg {
    fill: rgb(var(--color_text));
}


.hoverable svg {
    margin: 0;
}

/* TYPOGRAPHY END  */


/* MAIN STYLES  */

html .theme-toggler path {
    fill: var(--color_text);
}

html #moon {
    visibility: hidden;
}

.theme-toggler {
    position: absolute;
    top: 0;
    right: 0;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: transparent;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: transparent;
    overflow-x: hidden;
}


#themeTogglerLabel {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 9999;
}

#themeToggler {
    visibility: hidden;
    display: none;
}

/* CURSOR */
#cursor {
    pointer-events: none;
}

.cursor__ball {
    position: absolute;
    top: 0;
    right: 0;
    mix-blend-mode: difference;
    z-index: 9999;
    background-color: rgb(var(--color_main));
}

.cursor__ball--big {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    transform: scale(.4);
    transition: transform .15s var(--animation_default);
    z-index: 99999;
}

.cursor__ball--small {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#themeToggler:checked+#page {
    --color_main: 24, 69, 79;
    --color_text: 253, 234, 186;
}

#themeToggler:checked+#page .cursor__ball {
    background-color: rgb(var(--color_text));
}

#themeToggler:checked+#page #sun {
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition_fast) var(--animation_default);
}

#themeToggler:checked+#page #moon {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--transition_fast) var(--animation_default);
}

#quote {
    position: fixed;
    bottom: 0;
    padding: 1em;
    display: block;
    text-align: left;
    width: 100%;
    background-color: rgb(var(--color_main));
    color: rgb(var(--color_text));
    border-top: 2px solid rgb(var(--color_text));
    min-height: 120px;
    z-index: 1001;
}

#hello-world:after {
    display: inline-block;
    content: '|';
    animation: blinkTextCursor 1s infinite var(--animation_default);
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes blinkTextCursor {
    50% {
        opacity: 0;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 17.2em;
    }
}

/* Content  */

#content {
    color: rgb(var(--color_text));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-top: -2em;
}

/* BOX  */
#whoami {
    grid-area: whoami;
    border-bottom: 2px solid rgb(var(--color_text));
    height: 100px;
}

#statistics {
    height: 60px;
    grid-area: statistics;
    border-bottom: 2px solid rgb(var(--color_text));
}

#contacts {
    height: 100px;
    grid-area: contacts;
}

#showcase {
    grid-area: showcase;
    border-left: 2px solid rgb(var(--color_text));
}

#box {
    max-width: 384px;
    display: grid;
    grid-template-areas:
        'whoami    whoami'
        'statistics    showcase'
        'contacts   showcase';
    border: 2px solid rgb(var(--color_text));
}

#box>input {
    display: none;
}

#box h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
}

#box>div,
#box>label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
    transition: background-color var(--transition_middle) var(--animation_default),
        color var(--transition_middle) var(--animation_default);
}

#box>div:not(.modal):hover,
#box>label:not(.modal):hover {
    background-color: rgb(var(--color_text));
    color: rgb(var(--color_main));
}


/* MODAL */
.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    z-index: 1000;
}

.modal__inner h2 {
    line-height: 0;
}

.modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
}

input:checked+.modal {
    opacity: 1;
    visibility: visible;
}


.modal__inner {
    position: absolute;
    top: 35%;
    right: 0;
    bottom: 0;
    left: 0;
    /* transform: translateY(-30%); */
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: rgb(var(--color_main));
    padding: 1em 2em;
    min-height: 70%;
    overflow: scroll;
}

.modal__inner::-webkit-scrollbar {
    display: none;
}

.modal__inner {
    scrollbar-width: none;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(var(--color_text));
    margin-bottom: 50px;
}

.modal__close {
    display: block;
    padding: .8em;
}

.modal__close svg path {
    stroke: rgb(var(--color_text));
}

/* STATISTICS */
#statistics_box {
    display: grid;
    grid-template-areas:
        'complete_projects  line_counter'
        'averal_day  line_counter';
    grid-template-columns: 6fr 4fr;
    border: 2px solid rgb(var(--color_text));
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
}

#statistics_box>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#complete_projects {
    grid-area: complete_projects;
    border-bottom: 2px solid rgb(var(--color_text));
}

#averal_day {
    grid-area: averal_day;
}

#averal_day .counter_upper {
    padding-left: 0.7em;
}

#line_counter {
    grid-area: line_counter;
    border-left: 2px solid rgb(var(--color_text));
}

/* .counter_upper {
    font-size: 3.5rem;
    border-bottom: 1px solid var(--color_text);
    width: 100%;
    text-align: center;
    padding: 30px 50px;
} */

#statictics .low_counter {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* .counter_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid var(--color_text);
} */


.counter_upper {
    font-size: 3.5rem;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(var(--color_text));
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter_desc {
    width: 100%;
    padding: 0.8em .3em;
    text-align: center;
}

#progressBar {
    position: relative;
    padding: 1.5rem;
}

#progressBar>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* CONTACTS  */

#contacts_box {
    display: grid;
    grid-template-areas:
        'mail  mail  mail'
        'instagram  facebook github'
        'telegram  telegram  github'
        'telegram  telegram  github';
    border: 2px solid rgb(var(--color_text));
    max-width: 580px;
    height: 260px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#contacts_box a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: color var(--transition_middle) var(--animation_default),
        background-color var(--transition_middle) var(--animation_default);
}

#contacts_box a:hover {
    color: rgb(var(--color_main));
    background-color: rgb(var(--color_text));
}

#contacts_box svg {
    width: 30px;
    height: 30px;
}

#contacts_box a:hover path {
    fill: rgb(var(--color_main));
}

#instagram,
#facebook {
    border-bottom: 2px solid rgb(var(--color_text));
    height: 60px;
}

#contacts_box path {
    fill: rgb(var(--color_text));
}

#mail {
    grid-area: mail;
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(var(--color_text));
}

#instagram {
    grid-area: instagram;
    border-right: 2px solid rgb(var(--color_text));
}

#facebook {
    grid-area: facebook;
}

#telegram {
    grid-area: telegram;
}

#github {
    grid-area: github;
    border-left: 2px solid rgb(var(--color_text));
}

#github svg {
    width: 50px;
    height: 50px;
}


/* QUERIES */

@media screen and (max-width: 1200px) {
    #quote {
        display: flex;
        width: 100%;
        /* height: 100px; */
        max-width: initial;
    }

    .modal__bg {
        background-color: rgb(var(--color_main));
    }

    .modal__inner {
        top: 50%;
        transform: translateY(-25%);
    }
}

@media screen and (max-width: 600px) {
    #page {
        padding: 0;
    }

    h1 {
        font-size: 2rem;
    }

    #content {
        width: 100%;
    }

    #box {
        width: 100%;
    }

    #box h2 {
        font-size: 5vw;
    }

    #box>div,
    #box>label {
        padding: 0;
    }

    #statistics,
    #contacts,
    #showcase {
        width: 100%;
    }

    .modal__inner {
        padding: 1em .3em;
    }
}

@media screen and (max-width: 400px) {
    #box h2 {
        font-size: 1.2rem;
    }

    .counter_upper {
        font-size: 2rem;
    }

    #progressBar {
        font-size: 1.2em;
        padding: .5em;
    }

    .low_counter {
        font-size: 1.2rem;
    }

}