@import './root_variables.css';
@import './themes/dark.css';
@import './themes/light.css';
@import './typography.css';

* {
    transition: color var(--transition_middle) ease,
        background var(--transition_middle) ease;
}

html .theme-toggler path {
    fill: var(--color_text);
}

html #moon {
    visibility: hidden;
}

.theme-toggler {
    position: absolute;
    top: 0;
    right: 0;
}

html {
    overflow-x: hidden;
}

body {
    height: 100vh;
    background: var(--color_main);
    cursor: none;
    margin: 0;
    display: flex;
    font-family: monospace;
    font-family: 'Fira Code';
    font-weight: 600;
    overflow-x: hidden;
}

.theme-toggler {
    padding: 20px;
}


/* CURSOR */
.cursor {
    pointer-events: none;
}

.cursor__ball {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
}

.cursor__ball--big {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color_main);
    transform: scale(1);
    transition: transform .15s ease;
}

.cursor__ball--small {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color_main);
}

/* END CURSOR  */


.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color_main);
}