* {
    user-select: none;
}

svg {
    fill: var(--color_text);
    transition: fill var(--transition_middle) ease;
}


.hoverable svg {
    transform: rotate(30deg);
    transition: transform var(--transition_middle);
    transition-timing-function: ease-in-out;
    transform-origin: center;
    will-change: transform;
}

.hoverable:hover svg {
    transform: rotate(0deg);
}


button {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 5px solid var(--color_text);
    box-shadow: 0px 0px 0px 0px var(--color_text);
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 800;
    transition: box-shadow var(--transition_fast);
}

button:focus {
    outline: none;
    box-shadow: 5px 5px 0px 0px var(--color_text);
}

button:focus svg {
    outline: none;
    border: none;
    box-shadow: none;
}

h1,
a,
p,
button {
    color: var(--color_text);
}